
a
{
    margin: 0px;
    text-decoration: none;
}
*{
    padding: 0px;
   margin: 0 auto;
    box-sizing: border-box;
}
ul
{
    list-style: none;
}
html{
    min-width: 1200px;
    min-height: 1100px;
    padding: 0px;
    margin: 0px auto;
    /*font-family: 'Beau Rivage', cursive;*/
    /*font-family: 'Grape Nuts', cursive;*/
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;

}
.header {
    background-image: url("./img/Layer 1.png");
    background-size: cover;
    min-width: 1200px;
    height: 1012px;
    margin: 0px;
    padding: 0px;
}

.link_ham{
    width: 134px;
    height: 46px;
    text-decoration: none;
    color: #FFFFFF
}
.li_link {
    margin: 0px;
    justify-content: space-around;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    width: 614px;
}
.header_img
{
    margin: 0px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_h
{
    right: 52px;
    margin: 0px;
    position: relative;
    top: 5px;
}
.image_polygon
{
    margin: 0px;
    position: relative;
    top: 5px;
    right: 10px;
}

.title_ham {
    padding: 0px;
    margin: 0px;
    position: relative;
    right: 30px;
    width: 134px;
    height: 46px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
.ham {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}
.header_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color:  rgba(94, 93, 88, 0.6);
    min-width: 1200px;
    height: 100px;
}
.header_nav:hover
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
}
.text {
    box-sizing: border-box;
    position: relative;
    width: 769px;
    height: 213px;
    top: 366px;
}
.text_wordpress {
    margin: 0px;
    position: absolute;
    width: 637px;
    height: 35px;
    left: 66px;
    top: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_creative {
    margin: 0px;
    position: absolute;
    width: 798px;
    height: 80px;
    left: -17px;
    top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_just {
    margin: 0px;
    position: absolute;
    width: 795px;
    height: 34px;
    left: -14px;
    top: 172px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #D4D4D4;
}
.word_text {
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.first_button {

    position: relative;
    width: 169px;
    height: 68px;
    display: block;
    top: 420px;
    right: 100px;
    background-color:#18CFAB;
    border: 1px #18CFAB;
    border-radius: 6px;
}
.first_button:hover {
background-color: #237464;
}

.second_button {
    display: block;
    position: relative;
    width: 168px;
    height: 68px;
    top: 352px;
    left: 100px;
    background-color:#00CBF6;
    border: 1px #00CBF6;
    border-radius: 6px;
}
.second_button:hover
{
    background-color: #047B95;;
}
.first_button_text {         /* text for button*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.second_button_text {         /* text for button*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*4 picture */

.options-list{
    list-style: none;
    min-width: 1200px;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option_1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    min-height: 360px;
    background-color:#1C2A33;
}
.option_2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    min-height: 360px;
    background-color:#18CFAB;
}
.option_3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    min-height: 360px;
    background-color:#1C2A33;
}
.option_4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    min-height: 360px;
    background-color:#18CFAB;
}
.options_paragraph_1
{
    position: absolute;
    top: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    text-transform: uppercase;
}
.options_paragraph_2
{
    position: absolute;
    top: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.options_paragraph_3
{
    position: absolute;
    top: 250px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #18CFAB;
}
.options_paragraph_4
{
    position: absolute;
    top: 250px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.service
{

    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-width: 1160px;
    min-height: 450px;
    background-color: #ffffff;
}
.service_title
{
    position: absolute;
    top: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    text-align: center;

    color: #4E4E4E;
}

.service_line
{
    margin: 0;
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    left: 25px;
    top: 95px;
}

.service_line1
{
    margin: 0;
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    top: 100px;
    right: 41px;
}
.service_design
{
    top: 137px;
    position: absolute;
    display: flex;
    width: 1160px;
    height: 238px;
}
.service_design_list
{
    justify-content: space-around;
    display: flex;
    width: 1160px;
}
.service_tab
{
    padding: 18px;
    text-align: center;
    box-sizing: border-box;
    width: 192px;
    height: 73px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9px;
    line-height: 39px;
    color: #717171;
}
.service_tab.active
{
    position: relative;
    background-color: #18CFAB;
}

.service_tab.active:before
{
    content: '';

    position: absolute;
    top: 71px;
    left: 89px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid #18CFAB;
}
.service_tab:hover
{
    background-color:#18CFAB ;
}
.service_list
{
    min-width: 1150px;
    min-height: 150px;
    position: absolute;
    display: flex;
    top: 80px;

}

.tabs_content {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    padding-top: 12px;

    color: #777777;
}
.paragraph_content {
    padding: 20px;
    text-align: left;
}
.purchase
{
    position: relative;
    min-width: 1200px;
    height: 477px;
    background-image: url("./img/Layer 21 1.png");
}
.text_purchase
{
    position: relative;
    left: 10px;
    top: 126px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #18CFAB;
}
.text_purchase_1
{
    position: relative;
    left: 10px;
    top: 140px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.purchase_button
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    position: relative;
    margin: 0 auto;
    top: 220px;
    border: 1px #18CFAB;
    display: block;
    align-items: center;
    color: #DBDBDB;
    border-radius: 6px;
    min-width: 168px;
    min-height: 63px;
    background: #18CFAB;
}
.purchase_button:hover
{
    background-color: #237464;
}

.work
{
    position: relative;
    min-width: 1200px;
    min-height: 1212px;
    overflow: auto;
    background: #E9EDEF;
}
.work_title
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    top: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #4E4E4E;

}

.work_line
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    top: 100px;
}

.work_line1
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    left: 16px;
    top: 105px;
}
.work_list
{
    position: relative;
    top: 140px;
    margin: 0 auto;
    display: flex;
    min-width: 555px;
    min-height: 58px;
    align-items: center;
    justify-content: center;

}
.work_list_tab
{
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    padding: 13px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    align-items: center;

    color: #717171;

}
.work_list_tab:hover
{
    color:#18CFAB;
    border: solid  1px #18CFAB ;
}
.images_list
{
    position: relative;
    top: 210px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows:207px 205px;
    justify-content: center;
}

.images_list_text
{
    margin: 0px;
    width: 253px;
    border-top: 1px solid #18CFAB;
}
.elips_1
{
    position: relative;
    top: 50px;
    left: 80px;
}
.elips_2
{
    position: relative;
    top: 49px;
    left: 80px;
}
.elips_3
{
    position: relative;
    top: 35px;
    left: 49px;
}

.polygon {
    position: relative;
    top: 35px;
    right: 10px;
    width: 10px;
    height: 10px;
}

.load {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    position: relative;
    top: 283px;
    border: 1px #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 6px;
    min-width: 168px;
    min-height: 63px;
    background: #18CFAB;
    background-image: linear-gradient(to left,transparent,transparent 50%,#18CFAB 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .35s ease-in;
}
.load:hover
{
    background-position: 0% 0%;
}
.plus
{
    left: 11px;
    top: 22px;
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("./img/Forma 1.svg");
}

.text_button_1
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    top: 90px;
    color: #18CFAB;
}
.text_button
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    color: #8A8A8A;
}

.text_breaking
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    top: 40px;
}

.section_breaking_news
{
    min-width: 1160px;
    min-height: 860px;
    background-color: #ffffff;
}
.line
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    align-items: center;
    top: 60px;
}
.line_1
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    left: 16px;
    top: 65px;
}
.breaking_images
{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.breaking_images_tap1
{
    display: inline-block;
    padding-left: 25px;
    margin: 0px;
    position: relative;
    bottom: 3px;
}
.breaking_images_tap1:hover
{
    opacity: 0.81;
}
.data
{
    padding:5px;
    text-align: center;
    margin: 0px;
    display: grid;
    width: 66px;
    height: 64px;
    background-color:#203E38;
    color: #FFFFFF;
    position: relative;
    left: 197px;
    top: 64px;
}
.data:hover
{
    background-color: #18CFAB;
}
.text_images_tap1
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #717171;
}
.text_images_tap1:hover
{
    color: #18CFAB;
}
.images_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #777777;
    position: relative;
    bottom: 10px;
}
.section2
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}
.color_block
{
    width: 263px;
    height: 73px;
    background-color: #FFFFFF;
}
.color_block:hover
{
    background-color: #F2F4F5;
}
.client_feedback
{
    background-image: url("img/Layer 333.png");
    background-size: cover;
    min-width: 1200px;
    height: 853px;
    margin: 0px;
    padding: 0px;
}

.text_theham
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 90px;
    color: #FFFFFF;

}


.line_2
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    top: 105px;
}
.line_3
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    left: 16px;
    top: 110px;
}

.feedback_tap1
{
    text-align: center;
    align-items: center;
    position: relative;
    width: 1160px;
    height: 397px;
    top: 185px;
}
.text_feedback
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #BBBBBB;
}
.text_feedback_1
{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.text_feedback_2
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #BBBBBB;
}

.feedback_hasan
{
    top: 50px;
    position: relative;
}
.shape
{
    display: flex;
    text-align: center;
    position: relative;
    top: 165px;
}
.circle
{
    opacity: 0.1;
    animation: pulse 2s infinite;
    width: 144px;
    height: 143px;
    border-radius: 50%;
    background: #30b7a4;
    position: relative;
}

@keyframes pulse {
    0%
    {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(48,183,164,06);
    }
    70%
    {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(48,183,164,0);
    }
    100%
    {
        transform: scale(0.9);
    }
}




.img_circle
{
    height: 30px;
}
.img_first
{
    position: relative;
    bottom: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 130px;
    height: 130px;
}
.swiper_container {
    display: flex;
    width: 500px;
    height: 90px;
}
.swiper-wrapper
{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.swiper_img
{
    width: 60px;
    height: 59px;
}
.swiper_img:hover
{
    position: relative;
    bottom: 13px;
}

.swiper-slide.slider
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;

}
.swiper-slide.slider:hover
{
    background-color:#18CFAB;
}
.gallery
{
    overflow-x:hidden;
    min-width: 1200px;
    min-height: 1353px;
}

.gallery_title
{
    position: relative;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #4E4E4E;
}
.gallery_line_1
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    top: 85px;
}
.gallery_line_2
{
    border-top: solid 1px #18CFAB;
    width: 80px;
    display: flex;
    position: relative;
    top: 90px;
    left: 16px;
}

.gallery_group
{
    top: 120px;
    margin: 0px;
    position: relative;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}
.colum {
    margin: 0px;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .colum {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .colum {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


.button_load
{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    position: relative;
    top: 150px;
    border: 1px #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 6px;
    min-width: 168px;
    min-height: 63px;
    background: #18CFAB;
}
.button_load:hover
{
    background-color: #237464;
}

.button_load{

}
.footer
{
    display: flex;
    min-width: 1200px;
    height: 100px;
    background: #22353F;
}
.footer_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #AEAEAE;
}
.footer_ham
{
    color: #18CFAB;
}



